
.vs/slnx.sqlite
__pycache__/card.cpython-37.pyc
.vs/slnx.sqlite
__pycache__/graphics.cpython-37.pyc
.vs/egyptian-rat-screw/v16/.suo
.vs/slnx.sqlite
*.pyc
.vs/slnx.sqlite
.vs/egyptian rat screw/v16/.suo
.vs/slnx.sqlite
.vs/ProjectSettings.json
